$color-font-main: #333333;
$color-font-second: #AAAAAA;
$color-font-hover: #125BAE;
$color-font-bg: #E2EFFF;
$color-font-history: #5A0488;
$color-brand: #7397F5;
$color-border: #D5D5D5;
$color-white: #FFFFFF;
$scroll-bar: #F2F2F2;
$desktop-width: 1440px;
$big-desktop-width: 1920px;